#chessBoard {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(8, 50px);
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
}

.black-cell {
  background-color: #444;
}